@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #4785ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 42px;
  line-height: 48px;
  padding: 0 12px;
  border-radius: 70px;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #4785ff;
  color: white;
}

.wallet-adapter-button-trigger {
  background-color: #dae6ff;
}

@layer utilities {
  .homepage-box {
    @apply text-black font-semibold px-8 py-6 rounded-lg flex items-center;
  }

  .faq-box {
    @apply bg-white px-4 py-4 rounded-lg;
  }
}

.homepage-box-blue {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(68, 197, 252, 0.31);
}

.homepage-box-yellow {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffe458;
}

.homepage-box-green {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #7aff9f;
}

/* https://css-generators.com/custom-borders/ */
.zigzag-top {
  --mask: conic-gradient(from 147.5deg at top,#0000,#000 1deg 64deg,#0000 65deg) 50%/15.29px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.reward-box {
  border-radius: 2px 2px 0px 0px;
  border-top: 2px solid rgba(192, 161, 0, 0.46);
  background-image: url('/zigzag-box.png');
  background-size: cover;
  height: 144px;
  width: 275px;
}